.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  border: 2px solid var(--font-color);
  border-radius: var(--border-radius);
  height: 100%;
  width: 590px;
  gap: 20px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2%;
}

.rules-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
