.button {
  color: var(--font-color);
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  border: 2px solid var(--font-color);
  min-height: 40px;
  min-width: 100px;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  overflow: hidden;
}

.button:hover {
  outline: 2px solid var(--secondary-color);
}

.primary {
  background-color: var(--primary-color);
  color: var(--font-color);
}

.disabled {
  opacity: 0.3;
}
