.header {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  width: 100%;
  border-left: 1px solid var(--font-color);
  border-bottom: 1px solid var(--font-color);
  border-right: 1px solid var(--font-color);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  align-items: center;
  height: 68px;
}

.header > *:nth-child(1) {
  grid-column-start: 1;
}
.header > *:nth-child(2) {
  grid-column-start: 2;
}
