.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.base-container {
  height: 664px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
